.about {
  display: flex;
  gap: 5rem;

  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 50%;
    h1 {
      color: white;
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 3rem;
      border: 2px solid $secondary-color;
      padding: 5px 20px;
      border-radius: 1rem;
    }
    p {
      max-width: 500px;
      /*       max-height: 450px; */
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      box-shadow: 0 4px 10px rgba(91, 192, 235, 0.25);
      padding: 2rem;
      border-radius: 2rem;
      transition: 1s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .skills {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    h2 {
      letter-spacing: 1px;
      color: white;
      font-weight: 600;
      font-size: 3rem;
      border: 2px solid $secondary-color;
      padding: 5px 20px;
      border-radius: 1rem;
    }

    .skills-content {
      display: flex;
      gap: 80px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      box-shadow: 0 4px 10px rgba(91, 192, 235, 0.25);
      border-radius: 2rem;
      max-width: 500px;
      max-height: 450px;
      transition: 1s ease;

      &:hover {
        transform: scale(1.1);
      }

      img {
        max-width: 75px;
        box-shadow: $box-shadow;
        border-radius: 1rem;
        padding: 1rem;
        background-color: white;
        transition: 1s ease;

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
}
