.main-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;

    > div {
      display: flex;
      width: 45%;
      align-items: center;
      justify-content: space-between;
      background-color: #1b1f24;
      border-radius: 1rem;
      padding: 1rem;
      box-shadow: 0 4px 10px rgba(91, 192, 235, 0.25);
      margin: 3rem 2rem 3rem 2rem;

      .infos {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;

        h1,
        h2,
        h3,
        h4,
        .techno {
          color: $secondary-color;
        }
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      transition: 1s ease;

      &:hover {
        transform: scale(1.5);
        border: 1px solid $secondary-color;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .portfolio > div {
    flex-direction: column;
    width: 100%;
  }

  .portfolio > div img {
    max-width: 100%;
  }
}
