* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: $font;
  color: white;
}

body {
  background-color: $primary-color;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: $title-size;
}

p {
  font-size: $text-size;
}
